* {
    box-sizing: border-box;
  }
  
  html {
    background-color: #343A40; 
  }

  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  [hidden] {
    display: none !important;
}

  /*======================NAV=========================*/
 .fixed {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    background: rgba(0, 0, 0, 0.9);
    padding: .5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
 }

 .fa-list-btn {
     color: ghostwhite;
     background-color: black;
     border: solid 1px ghostwhite;
     border-radius: .1rem;
 }

 .fa-list-btn:hover {
     box-shadow: ghostwhite 0.1em 0.1em 0.2em;
 }

.fa-list-btn:active {
    box-shadow: none;
}

.header-nav ul {
    display: flex;
    margin-bottom: 0;
    margin-top: 2.3rem;

}

 .header-nav ul li {
     margin-right: .5rem;
     border-radius: .1rem;
     border: 1px ghostwhite solid;
     list-style-type: none;
     padding: .5rem;
 }

 .header-nav ul li:hover {
     box-shadow: ghostwhite 0.1em 0.1em 0.2em;
 }

.header-nav ul li:active {
    box-shadow: none;
}

.header-nav ul li a {
    color: ghostwhite;
}

.header-nav-collapse {
    position: absolute;
    margin-top: 3.5rem;
    margin-left: -7rem;
}

.header-nav-collapse ul {
    padding: 0;
    border: 1px ghostwhite solid;
    background: rgba(0, 0, 0, 0.5);
    border-radius: .1rem;
}

.header-nav-collapse ul li {
    border-bottom: solid;
    margin-right: .5rem;
    margin-left: .5rem;
    border-radius: .1rem;
    list-style-type: none;
    padding: .5rem;
}

.header-nav-collapse ul li a {
    color: ghostwhite;
    left: 0;
}

 .career-links {
     position: absolute;
     right: 0;
     margin-right: .5rem;
     background-color: lightslategray;
     padding: 0 .5rem;
     border-radius: 0.1rem;
 }

 .career-links a svg:hover{
     border-radius: .1rem;
     border: 1px solid ghostwhite;
 }

.career-links a svg:active{
    border: none;
}

  a {
    color: black;
    text-decoration:none
  }

  .nav-column {
    width: 100%;
    padding-left: 1rem;
  }

  .fixed h1 {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0 .5rem;
      border-radius: 0.1rem;
      font-weight: normal;
      font-size: 20px;
      text-shadow: ghostwhite 0.1em 0.1em 0.2em;
  }

  .bottom-row {
    display: flex;
    border-top: 1px solid gray;
  }

  .fixed .nav button:hover{
      box-shadow: ghostwhite 0.1em 0.1em 0.2em;
  }

/*=====NAV MIXIN=====*/


@media (min-width: 735px) {
    .fa-list-btn {
        display: none;
    }

    .top-row {
        display: flex;
        justify-content: flex-end;
    }

    section {
        padding: 1rem;
    }
    .header-nav-collapse {
        display: none !important;
    }
}

@media (max-width: 735px) {
    .fa-list-btn {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        float: right;
    }

    .header-nav {
        display: none;
    }

    .top-row {
       float: right;
    }

    section {
        padding: .5rem;
    }
}

  /*==================MAIN==============*/
  main {
    padding-top: 6rem;
  }

  #Section1 {
      background: lightblue url("http://i.imgur.com/3zrF3e7.png") no-repeat fixed  center ;
  }

  #Section2 {
      background: lightblue url("http://www.coolgrannyflats.com/wp-content/uploads/css-background-image-animated-gif-animated-gif-background-for-html.gif") no-repeat fixed  center;
      background-size: cover;
  }

  #Section3 {
      background: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/54/64/62579af6a7dba88.jpg") no-repeat fixed center;
      background-size: cover;
  }

  #Section4 {
      background: lightblue url("https://www.gamasutra.com/db_area/images/blog/279100/unityLogo.png") no-repeat fixed  center;
      background-size: cover;
  }

#Section5 {
    /*background: url("https://i.pinimg.com/originals/d8/1e/eb/d81eebbc50975806fd3ca059b498a2db.jpg") no-repeat fixed center;*/
    background: url("https://images7.alphacoders.com/327/327601.jpg") no-repeat fixed center;
    background-size: cover;
}

#Section6 {
    background: lightblue url("https://i.pinimg.com/736x/9a/3a/8a/9a3a8ac82b68d7cf17ef09559dc6ee84--photo-class-creative-portraits.jpg") no-repeat fixed  center;
    background-size: cover;
}


.project {
      margin-bottom: 10rem;
      padding-bottom: 3rem;
  }
  #headshot {
      box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
      border: solid 1px ghostwhite;
      border-radius: .1rem;
      margin-bottom: 1rem;
  }

  section {
      max-width: 1180px;
      min-height: 200px;
      background-color: transparent;
      margin: 0 auto;
  }

  section .nav {
    max-width: 595px;
    margin: auto auto;
    display: block;
  }
  
  section .nav p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .page-header {
      position: fixed;
      top: 6rem;
      /*margin-top: -4rem;*/
      z-index: 10;
      left: 1rem;
      color: ghostwhite;
      -webkit-transition: 3s ease-in;
      -moz-transition: 3s ease-in;
      -o-transition: 3s ease-in;
      transition: 1s ease-in;
  }


.content-container {
    background: rgba(0, 0, 0, 0.5);
    color: ghostwhite;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: solid 1px ghostwhite;
    border-radius: .1rem;
}

.padding-2 {
    padding: 2rem;
}

.content-container ul {
    text-align: center;
    background-color: lightslategray;
    width: 100%;
    border-top: solid 1px ghostwhite;
    border-radius: .1rem;
}
  .define {
    font-size: 12px;
  }

  .bold {
    font-weight: bold;
  }

  .gWhite {
      color: ghostwhite;
  }

  main h1 {
    color: #343A40;
  }

  main h2 {
      margin-top: 0;
    font-weight: normal;
      color: ghostwhite;
      box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
      background: rgba(0, 0, 0, 0.5);
      border: solid 1px ghostwhite;
      border-radius: .1rem;
  }

  main h3 {
      margin-bottom: 0;
  }

  .links-group {
      padding-top: 1rem !important;
  }

  main .content-container a {
      background-color: lightslategray;
      padding: 0 .5rem;
      border-radius: .1rem;
      color: ghostwhite;
  }

  main .content-container a:hover {
      box-shadow: white 0.1em 0.1em 0.2em;
  }

  .project-items {
    list-style-type: none;
    text-align: left;
    padding: 0;
    border-top: 1px solid #343A40;
    width: max-content;
    padding-top: .5rem;
    margin: 0 auto;
  }

  .project-items > li {
    display: inline-block;
    margin: 0 auto;
  }

  .f-12 {
    font-size: 12px;
  }

  .image-container {
    margin-bottom: 1rem;
  }

  .proj-img {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  }

  .image-container img {
    width: 100%;
    max-width: 620px;
      border: solid 1px ghostwhite;
      border-radius: .1rem;
  }

  .project-container a {
    font-size: 16px;
    background-color: #343A40;
    padding: 5px;
    border-radius: 3px;
    color: ghostwhite;
  }

  .project-container a:hover {
    color: lightblue;
  }

  .bubble {
      /*position: relative;*/
  }


.bubble:hover {
    /*box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;*/
}

  .bubble a {
      position: absolute;
      margin-top: 40%;
      left: 0;
      color: ghostwhite;
      cursor: pointer;
      right: 0;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }

  .bubble-3 {
      display: inline-block;
      border-radius: 3rem;
      height: 6rem;
      width: 6rem;
      color: ghostwhite;
  }

  /*.arrow-down-3{left: 28px;}*/

  .bubble-5 {
      display: inline-block;
      border-radius: 5rem;
      height: 10rem;
      width: 10rem;
      color: ghostwhite;
  }
  /*.arrow-down-5 {left: 58px}*/

  .bubble-8 {
      display: inline-block;
      border-radius: 8rem;
      height: 16rem;
      width: 16rem;
      color: ghostwhite;
  }

  /*.arrow-down-8 {left: 108px}*/


.bubble-10 {
    display: inline-block;
    border-radius: 10rem;
    height: 20rem;
    width: 20rem;
    color: ghostwhite;
}
/*.arrow-down-10 {left: 140px}*/

.bubble-txt {

}

/*****Colors*****/
.html5 {background-color: #F1662A;}
.css3 {background-color: #33A9DC;}
.js {background-color: #F0DB4F;}
.jquery {background-color: #0769AD}
.react {background-color: #61DAFB}
.nodejs {background-color: #026E00}
.mongodb {background-color: #6AAF4E}
.csharp {background-color: #5C2E91}
.ajax {background-color: #4594CB}
.rest {background-color: #17B889}
.webpack {background-color: #2B3A42}
.vcs {background-color: #F05033}
.testing {background-color: #8A6343}
.scrum {background-color: #FA9829}
.automation {background-color: #84A2A2}

.semanticui {background-color: #34BDB2}
.heroku {background-color: #3A2778}
.bootstrap {background-color: #563D7C }
.traviscl {background-color: #61C198}
.firebase {background-color: #FCCA3F}
.mlab {background-color: #373F46}
.unity {background-color: #242424}
.netlify {background-color: #01C6B5}


/*****Flip Bubbles******/
/* entire container, keeps perspective */
.flip-container {
    display: inline-block;
    perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper{
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    /*width: 320px;*/
    /*height: 480px;*/
}

/* flip speed goes here */
.flipper {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    border: 1px solid ghostwhite;
    height: 100%;
    width: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}
/* hide back of pane during swap */
.face {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
/* front pane, placed above back */
.front {

}
/* back, initially hidden pane */
.back {
    background-color: white;
    transform: rotateY(180deg);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.middle {
    padding-top: 50%;
}